@import './TopNav.scss';

.post-wrapper {
    width: 100%;
    text-align: center;
    font-family: $fontfamily2;

    h4 {
        font-weight: 700;
        padding: 5rem 0 3rem;
    }

    .add-post {
        width: 60%;
        border-left: 1px solid black;
        text-align: left;
        font-size: 14px;
        margin: 2rem 0 4rem;


        button {
            padding: .1rem .5rem;
            margin-left: 5rem;
            margin-bottom: 4rem;
            background-color: $color2;
            color: $color;
            outline-offset: 1px solid white;
        }

        form {
            width: 100%;
            font-family: $fontfamily3;
            font-size: 17px;
            font-weight: 600;

            label {
                margin-left: 5rem;


                input {
                    margin-left: .8rem;
                    margin-top: .8rem;
                    padding-left: .4rem;
                }
            }

            button {
                margin-top: 1.5rem;
                width: 15%;
                letter-spacing: .1rem;
                border: none;
                text-transform: uppercase;
            }

            button:hover {
                background-color: $color2;
            }


        }

        
    }
}