@import './TopNav.scss';

.post-wrapper {
    width: 100%;
    text-align: center;
    font-family: $fontfamily3;

    h4 {
        font-size: 60px;
        font-weight: 900;
        padding: 5rem 0 3rem;
    }

    .add-post {
        width: 60%;
        text-align: left;
        font-size: 18px;
        margin: 2rem 0 3rem;


        button {
            padding: .1rem .5rem;
            margin-left: 5rem;
            margin-bottom: 4rem;
            background-color: $color2;
            color: $color;
            outline-offset: 1px solid white;
        }

        form {
            width: 100%;
            font-family: $fontfamily3;
            font-size: 17px;
            font-weight: 600;

            label {
                margin-left: 5rem;


                input {
                    margin-left: .8rem;
                    margin-top: .8rem;
                    padding-left: .4rem;
                }
            }

            button {
                margin-top: 1.5rem;
                width: 15%;
                letter-spacing: .1rem;
                border: none;
                text-transform: uppercase;
            }

            button:hover {
                 background: #FF0099;
                 background: -webkit-linear-gradient(to right, #493250, #FF0099);
                 background: linear-gradient(to right, #493240, #FF0099);
            }


        }

        hr {
            width: 100%;
            margin-left: 30%;
            margin-top: 5rem;
        }
    }
}